* {
    font-family: 'Hahmlet', serif;
}

.contents {
    /*모든 페이지 적용*/
    width: 80%;
    max-width: 100vw;
    margin: auto;
    padding: 60px 5%;
}

/*배경 배너 css*/
.wrap {
    /*background-color: RGBA(255,222,89);*/
    background-color: white;
    min-height: 100vh;
    padding-bottom: 50px;
}

.banner {
    width: 100%;
    height: 200px;

    background-color: RGBA(255, 222, 89);
    background-image: url('chicken_logo.png');

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
}

/*상단 바 : 로그아웃 버튼*/
.logout {
    float: right;
    margin: 10px 20px 0px 0px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
}
/*하이라이트 클래스*/
tr.highlight > td {
    background-color: #e8344e;
    color: white;
}
/*하이라이트 클래스*/
tr.highlight a {
    color: white;
}