* {
    font-family: 'Hahmlet', serif;
}


/*박스 사이즈 조정 */
.contents {
    /*모든 페이지 적용*/
    width: 80%;
    max-width: 100vw;
    margin: auto;
    padding: 60px 5%;
}

/*배경 배너 css*/
.wrap {
    /*background-color: RGBA(255,222,89);*/
    background-color: white;
    min-height: 100vh;
    padding-bottom: 50px;
}

.banner {
    width: 100%;
    height: 200px;

    background-color: RGBA(255, 222, 89);
    background-image: url('chicken_logo.png');

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
}

/*상단 바 : 로그아웃 버튼*/
.logout {
    float: right;
    margin: 10px 20px 0px 0px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
}


body {
    background-color: RGBA(232, 52, 78, 0.2);
    min-height: 100vh;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.is-sparta {
    color: #e8344e !important;
}

.button.is-sparta {
    background-color: #e8344e;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #e8344e;
    color: #e8344e !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

}



