<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>치킨 어때!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .center {
            text-align: center;
        }

        .star-list {
            width: 500px;
            margin: 20px auto 0 auto;
        }

        .star-name {
            display: inline-block;
        }

        .star-name:hover {
            text-decoration: underline;
        }

        .card {
            margin-bottom: 15px;
        }
        .wrap{
            margin:auto;
        }
    </style>
    <script>
        $(document).ready(function () {
            showStar();
        });

        function showStar() {
            $.ajax({
                type: 'GET',
                url: '/api/list?sample_give=샘플데이터',
                data: {},
                success: function (response) {
                    let mychicken = response['chickens']
                    for (let i = 0; i < mychicken.length; i++) {
                        let name = mychicken[i]['name']
                        let img_url = mychicken[i]['img_url']
                        let like = mychicken[i]['like']
                        let dislike = mychicken[i]['dislike']
                        let status = mychicken[i]['status']
                        let brand = mychicken[i]['brand']

                        let temp_html = `<div class="card" style="width: 18rem;">
                                              <img class="card-img-top" src="${img_url}" alt="Card image cap">
                                              <div class="card-body">
                                                <h5 class="card-title">${name}</h5>
                                                <p class="card-text">${status}</p>
                                              </div>
                                              <ul class="list-group list-group-flush">
                                                <li class="list-group-item">${brand}</li>
                                                <li class="list-group-item">${like}</li>
                                                <li class="list-group-item">${dislike}</li>
                                              </ul>
                                              <div class="card-body">
                                                <a href="#" class="card-link">Card link</a>
                                                <a href="#" class="card-link">Another link</a>
                                              </div>
                                            </div>`
                        $('#box').append(temp_html)


                    }
                }
            });
        }

        function likeStar(name) {
            $.ajax({
                type: 'POST',
                url: '/api/like',
                data: {sample_give: '샘플데이터'},
                success: function (response) {
                    alert(response['msg']);
                }
            });
        }

        function deleteStar(name) {
            $.ajax({
                type: 'POST',
                url: '/api/delete',
                data: {sample_give: '샘플데이터'},
                success: function (response) {
                    alert(response['msg']);
                }
            });
        }

    </script>
</head>
<body class="wrap">
<section class="hero is-warning">
    <div class="hero-body">
        <div class="container center">
            <h1 class="title">
                치킨 어때 🐔
            </h1>
            <h2 class="subtitle">
                꼬꼬댁~
            </h2>
        </div>
    </div>
</section>
<div class="card" style="width: 18rem;" id="box">

</div>
</body>
</html>